$xs: "(max-width:479px)";
$s: "(min-width: 480px)";
$m: "(min-width: 768px)";
$l: "(min-width: 1024px)";
$xl: "(min-width: 1280px)";
$xxl: "(min-width: 1440px)";

.fancybox-slide--iframe .fancybox-content {
  max-width: calc(100% - 30px) !important;
  @media #{$m} {
    max-width: calc(100% - 100px) !important;
  }
}

.fancybox-bg {
  background-color:#2A466E !important;
}

.fancybox-button, .fancybox-infobar__body {
  background:#fff !important;
  color:#2A466E !important;
}

.fancybox-arrow {
  &:after {
    background-color: #fff !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMkE0NjZFIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4NCg==) !important;
  }
}

.fancybox-is-open .fancybox-bg {
  opacity: 1 !important;
}

.fancybox-show-nav .fancybox-arrow {
  opacity: 1 !important;
}

.fancybox-share svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  fill: #2A466E;
  width: 30px;
  height: 30px;
}

.home-module-header {
  padding-top: 30px;
  @media #{$m} {
    padding-top: 45px;
  }
  @media #{$l} {
    padding-top: 60px;
  }
  .row {
    margin-bottom: 0;
  }
  &__title {
    border-left: 1px solid #ccc;
    padding-left: 10px;
    font-size: 24px;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 600;
    color:#000;
    padding-top: 30px;
    margin-top: -30px;
    margin-bottom: 25px;
    @media #{$m} {
      font-size: 30px;
      padding-top: 45px;
      margin-top: -45px;
      margin-bottom: 35px;
      padding-left: 15px;
    }
    @media #{$l} {
      font-size: 35px;
      padding-top: 60px;
      margin-bottom: 40px;
      padding-left: 20px;
      margin-top: -60px;
    }
    img {
      float: left;
      margin-right: 10px;
      margin-top: 2px;
      height: 46px;
      display: inline-block;
      @media #{$m} {
        height: 56px;
        margin-top: 5px;
        margin-right: 12px;
      }
      @media #{$l} {
        height: 64px;
        margin-top: 7px;
        margin-right: 15px;
      }
    }
  }
  &__carousel-nav {
    margin-top: 10px;
    text-align: right;
    vertical-align: middle;
    @media #{$m} {
      text-align: left;
      margin-top: -18px;
      padding-left: 70px;
      width: 140px;
    }
    @media #{$l} {
      margin-top: -15px;
    }
    &__button {
      width: 30px;
      height: 30px;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      @media #{$m} {
        margin-left: -10px;
      }
      svg {
        width: 9px;
        margin-top: 9px;
      }
    }
    &__state {
      font-size: 17px;
      line-height: 1;
      color:#B6B6B6;
      display: block;
      position: relative;
      height: 23px;
      margin: 5px 0 3px;
      white-space: nowrap;
      display: inline-block;
      @media #{$m} {
        display: block;
        font-size: 20px;
        height: 33px;
      }
      @media #{$l} {
        font-size: 25px;
        height: 36px;
      }
      strong {
        color:#2D8ACD;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        font-weight: normal;
        white-space: nowrap;
        position: relative;
        top: -2px;
        @media #{$m} {
          position: absolute;
          right: 100%;
          top: -2px;
          font-size: 38px;

        }
        @media #{$l} {
          font-size: 43px;
        }
      }
    }
  }
}
