.fi-module-calendar {
  overflow: hidden;
  background: #29578C;
  color: #fff;
}

.fi-module-calendar .container-fluid {
  overflow: visible !important;
}

.fi-module-calendar .fi-module__header a {
  color: #fff;
}

.fi-module-calendar .fi-module__header .fifa-section__title {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.3);
}

.fi-module-calendar .owl-stage-outer {
  overflow: visible !important;
}

.fi-module-calendar__list {
  padding-top: 20px;
  padding-bottom: 70px;
  display: flex;
  margin-right: -50px !important;
  width: auto !important;
  position: relative;
}

.fi-module-calendar__list .owl-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 50px;
  height: 10px;
  text-align: center;
  padding: 0;
  font-size: 0;
}

.fi-module-calendar__list .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: background .2s ease;
}

.fi-module-calendar__list .owl-dots .owl-dot.active {
  background-color: #fff;
}

.fi-module-calendar__list .owl-item:first-child .fi-module-calendar__list__item:before {
  display: none;
}

.fi-module-calendar__list__item {
  font-size: 16px;
  line-height: 1.1;
  font-family: 'Open Sans Condensed';
  text-align: center;
  text-transform: uppercase;
  flex-shrink: 0;
  width: 50%;
  padding-right: 50px;
  position: relative;
}

.owl-item .fi-module-calendar__list__item {
  width: 100%;
}

.fi-module-calendar__list__item:before {
  content: "";
  position: absolute;
  top: 30px;
  left: -25px;
  height: 80px;
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}

.fi-module-calendar__list__item__type {
  font-size: 14px;
  font-weight: bold;
  display: block;
  color: #F8C709;
  margin-bottom: .1em;
}

.fi-module-calendar__list__item__date {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: .2em;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 12px;
}

.fi-module-calendar__list__item__date:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 26px;
  height: 2px;
  margin-left: -13px;
  background: #fff;
}

.fi-module-calendar__list__item__date strong {
  font-size: 40px;
  font-weight: normal;
  display: block;
  margin-bottom: .1em;
}

.fi-module-calendar__list__item__name {
  display: block;
}

@media (min-width: 768px) {
  .fi-module-calendar__list {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .fi-module-calendar__list__item {
    font-size: 17px;
  }

  .fi-module-calendar__list__item {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .fi-module-calendar__list {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .fi-module-calendar__list .owl-dots {
    display: none;
  }

  .fi-module-calendar__list__item {
    width: 16.66667%;
  }
}