.fi-module-latest-photos {
  overflow: hidden;
}

.fi-module-latest-photos .owl-stage-outer {
  overflow: visible !important;
}

.fi-module-latest-photos .owl-stage-outer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 999em;
  background: #fff;
  z-index: 10;
}

.fi-module-latest-photos__galleries {
  margin-left: -1px;
  margin-right: 30px;
  position: relative;
  /*
    .container-fluid {
      border-top: 0 !important;
      overflow: visible !important;
      padding-left: 0 !important;
      padding-right: 30px !important;
      position: relative;
      @media (min-width: 768px) {
        padding-right: 50px !important;
      }
      @media (min-width: 1024px) {
        padding-right: 80px !important;
      }
      @media (min-width: 1440px) {
        padding-right: 0 !important;
      }
    }
    */
}

.fi-module-latest-photos__galleries:hover .fi-module-latest-photos__galleries__arrow {
  background-color: rgba(0, 0, 0, 0.4);
}

.fi-module-latest-photos__galleries:hover .fi-module-latest-photos__galleries__arrow svg {
  transform: translateX(0);
  opacity: 1;
}

.fi-module-latest-photos__galleries__arrow {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  height: calc(100% - 1px);
  background: transparent;
  z-index: 15;
  cursor: pointer;
  transition: background .3s ease;
  display: none;
}

.fi-module-latest-photos__galleries__arrow svg {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  stroke: #fff;
  stroke-width: 3;
  fill: none;
  height: 100px;
  left: 50%;
  width: 30px;
  opacity: 0;
  margin-left: -15px;
  transform: translateX(10px);
  transition: all .3s ease .1s;
}

.fi-module-latest-photos__galleries__arrow--left {
  left: 0;
}

.fi-module-latest-photos__galleries__arrow--right {
  left: 100%;
  margin-left: 1px;
}

.fi-module-latest-photos__galleries__arrow--right svg {
  transform: translateX(-10px);
}

.fi-module-latest-photos__galleries__arrow--disabled {
  opacity: 0;
  pointer-events: none;
}

.fi-module-latest-photos__gallery {
  overflow: hidden;
  margin: 0 -.5px;
}

.fi-module-latest-photos__gallery__item {
  float: left;
  width: 25%;
  overflow: hidden;
  position: relative;
  /*
      &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        padding: 10px;
        font: 300 13px/1.2 'Open Sans Condensed';
        color:#fff;
        display: none;
        @media (min-width: 768px) {
          display: block;
          padding: 15px;
          font-size: 16px;
          font-size: 1.15;
        }
        @media (min-width: 1024px) {
          padding: 25px;
          font-size: 22px;
          transform: translate3d(0,100%,0);
          opacity: 0;
          transition: all .3s ease .05s;
        }
      }
      */
}

.fi-module-latest-photos__gallery__item__image {
  display: block;
  position: relative;
  padding-top: 100%;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  /*
        &:before {
          content:"";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background:rgba(#000,.2);
          z-index: 1;
          display: none;
          @media (min-width: 768px) {
            display: block;
          }
          @media (min-width: 1024px) {
            opacity: 0;
            transition: opacity .4s ease;
          }
        }
        */
}

.fi-module-latest-photos__gallery__item__image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

.fi-module-latest-photos__gallery__item__image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  width: 100%;
  height: 100%;
  transition: transform .3s ease;
  transform: scale(1.01) translate3d(0, 0, 0);
}

.fi-module-latest-photos__gallery__item__image:hover {
  /*
          @media (min-width: 1024px) {
            &:before {
              opacity: 1;
            }
            .fi-module-latest-photos__gallery__item__caption {
              transform: translate3d(0,0,0);
              opacity: 1;
            }
          }
          */
}

.fi-module-latest-photos__gallery__item__image:hover img {
  transform: scale(1.1) translate3d(0, 0, 0);
}

.fi-module-latest-photos__gallery__item--big {
  width: 50%;
}

.fi-module-latest-photos__gallery__item--right {
  float: right;
}

@media (min-width: 768px) {
  .fi-module-latest-photos__galleries {
    margin-right: 50px;
  }

  .fi-module-latest-photos__gallery__item {
    width: 20%;
    height: 50%;
  }

  .fi-module-latest-photos__gallery__item--big {
    width: 40%;
    height: 100%;
  }

  .fi-module-latest-photos__gallery__item--wide {
    width: 40%;
  }

  .fi-module-latest-photos__gallery__item--wide .fi-module-latest-photos__gallery__item__image {
    padding-top: 50%;
  }
}

@media (min-width: 1024px) {
  .fi-module-latest-photos__galleries {
    margin-right: 100px;
  }

  .fi-module-latest-photos__galleries__arrow {
    display: block;
  }
}